<%-include("partials/header"); %>


<div class="">


  <h1><%=selectedPost.title%></h1>
  <p><%=selectedPost.content%></p>
  <h4>--- by <%=selectedPost.author%></h4>


</div>








<%-include("partials/footer"); %>
